<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InstagramKitBaseUrl</key>
	<string>https://api.instagram.com/v1/</string>
	<key>InstagramKitAuthorizationUrl</key>
	<string>https://api.instagram.com/oauth/authorize/</string>
	<key>InstagramKitAppRedirectURL</key>
	<string>later://go</string>
	<key>InstagramKitAppClientId</key>
	<string>c38c59154cc1421f89bff23f24413b59</string>
</dict>
</plist>
