<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug-Key</key>
	<string>d3a5b55afd1a1f410e57094-7642e3b0-f8e1-11e4-3964-00eadbc03855</string>
	<key>Key</key>
	<string>217a4fe4639d897db7f3448-6b933b42-f8ef-11e4-d177-005909f3eb28</string>
</dict>
</plist>
